*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;

    background: fixed url(back.avif) no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
}
.form{
    padding: 15px;
}
.container{
    width: 420px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
   
}
input{
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
}
button{
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    background-color: chartreuse;
    
}